@model IEnumerable<HospitalManagementSystem.Models.Patient>

@{
    ViewData["Title"] = "Index";
}

<h4>List Patients for Medical Tests</h4>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Gender.Sex)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.PatientType.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DOB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Weight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BodyTemperature)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pulse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SugarLevel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isHMO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArrivalDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Complaints)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DrNotes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TestResult)
            </th>
            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender.Sex)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.PatientType.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DOB)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Weight)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BodyTemperature)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pulse)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SugarLevel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.isHMO)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ArrivalDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Complaints)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DrNotes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TestResult)
                </td>


            <td>
                <a asp-action="Update" asp-route-id="@item.Id">Update</a> |
                
            </td>
        </tr>
}
    </tbody>
</table>
